<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Slacker Articles</title>
  </head>

  <body>
    <h2>Slacker Articles</h2>
    <ul>
      <% @articles.each do |article| %>
        <li><%= article.title %> | <a href="<%= article.url %>" target="_blank"> <%= article.url %></a> | <%= article.description %></a>
        </li><br>
      <% end %>
    </ul>
  </body>
</html>
