<!doctype html> 
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Slacker News</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
  <script src="/javascripts/app.js"></script>
  <nav>
  <a href="/">Homepage</a> |
  <a href="/articles">Articles</a> |
  <a href="/articles/new">Submit</a>
</nav>
  <%= yield %>
</body>
</html>
